<h2>Examples 9 home</h2>
<p>Here are Some links:</p>
<ul>
    <li><a href="/page1">Page 1</a></li>
    <li><a href="/page2">Page 2</a></li>
    <li><a href="/page3">Page 3</a></li>
    <li><a href="/page4">Page 4</a> (I'm the bad egg!)</li>
    <li><a href="/What">What?</a> (I'm also a bad egg!)</li>
    
    
</ul>