ul {
    display: flex;
}
.row {
    display: flex;
}
.menu li {
    display: inline-block;
    margin: 0 10px;
}
.logo {
    color: black;
    font-size: 40px;
    font-family: Pacifico-Regular;
    width: 50%;
}
.giorhang {
    align-self: center;
    margin-left: 11%;
}
.h-container.container {
    max-width: 70%;
    margin: auto;
}
header.header {
    background: greenyellow;
    padding: 10px 0;
}

.menu {
    align-self: center;
}
.footer-widget {
    background: bisque;
    text-align: center;
    margin-top: 7px;
}
article#ar {
    background: azure;
}
@media screen {
    .logo {
        width: 36%;
    }

}